body{
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: #ffffff;
    padding: 30px 0;
}
header .container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
header figure{}
header figure img{
    width: 100%;
    max-width: 120px;
}
header h1{
    color: white;
    font-size: 35px;
    margin-top: 10px;
    font-weight: 600;
}
main{
    display: flex;
    height: 87vh;
}
main section{
    width: 50%;
    padding: 100px 40px;
}
.secaoFormulario{
    background-color: rgb(31, 11, 117);
    

}
.secaoFormulario_Formulario{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 0 0 auto;
}
.secaoFormulario_Formulario input{
    margin-bottom: 15px;
    height: 40px;
    border: none;
    border-radius: 2px; 
    padding: 0 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.secaoFormulario_Formulario button{
    margin-top: 20px;
    height: 40px;
    background-color: hsl(0deg 0% 100% / 90%);
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;

}
.secaoListadeContatos{
    background-color: rgb(31, 11, 117);
}
.secaoListadeContatos_Lista{
    width: 100%;
    max-width: 450px;
}
.secaoListadeContatos_Lista li{
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.secaoListadeContatos_Lista li button{
    float: right;
    background-image: url(./assets/img/trash.svg);
    width: 30px;
    height: 30px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #de4b09;
    border-radius: 100%;
    background-color: hsl(0deg 95% 44% / 5%);
    cursor: pointer;
} 
.secaoListadeContatos_Lista li h2{
    font-size: 18px;
    font-weight: 600;
}
.secaoListadeContatos_Lista li p{
    margin: 5px 0;
} 
.secaoListadeContatos_Lista li span{}  
